    <div class="navbar">
        {# <a href="/">Index</a> |
        <a href="/about">About</a> |
        <a href="/report">Report</a> | #}

        <a href="{{ url("index") }}">Index</a> |
        <a href="{{ path("about") }}">About</a> |
        <a href="{{ path("report") }}">Report</a> |
        <a href="{{ path("excercises") }}">Övningar</a> |
        <a href="{{ path("card") }}">Card</a>

    </div>
