{% include 'incl/header.html.twig' %}
<title>Deck</title>
<body>
    {% include 'incl/nav.html.twig' %}

    <div class="content-cards">


{# <p>You draw {{ app.request.get('number') }} cards.</p> #}
    {% if cards %}
        <div class="card">
            {% for card in cards %}
                {% if card %}
                    <div class="cards">
                    <span class="symbol">
                        {{ card.getCard() | raw}}
                    </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

<p>Cards left in deck: {{ deck|length }}</p>
        <div class="card">
            {% for card in deck %}
            <div class="cards">
            <span class="symbol">
                {{ card.getCard() | raw}}
            </span>
            </div>
            {% endfor %}
        </div> 
    </div>
    {% else %}
        <p>Empty Deck</p>
        <p><a href="{{ path("shuffle") }}">Shuffle deck and get new cards.</a></p>

    {% endif %}

{% include 'incl/footer.html.twig' %}

</body>
</html>
